.logoContainer {
    height: 15vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.logoContainer svg {
    height: 15vh;
    padding: 10%;
}


/* -----------------------------------  INDEX.HTML -------------------------------------------- */

#index-page {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top left, #ffbc00 10%, #ff0c8e 90%);
}

#index-logo-img {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 1s, moveup 1.5s forwards;
         /* animation-delay: 2s; */
}

#index-loader-container {
    width: 100%;
    margin-top: 50vh;
    animation: fadein 2s;
}

/* loader */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes moveup {
    to {
        top: 230px;
    }
}

.lds-ellipsis {
    /* for centering */
    display: table !important;
    margin: 0 auto;

    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    /* animation-delay: 2s; */
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
  }

  .hidden {
      visibility: hidden;
  }

  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-delay: 2s;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }

/* ------------------------------------ SEARCH.PHP -------------------------------------------- */

.mySlides {
    display: none
}

.slideshow-container img {
    vertical-align: middle;
    width: 100%;
    padding: 35px;
}

.slideshow-container {
    width: 100vw;
    height: 50vh;
    position: relative;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.text {
    padding: 8px 12px;
    position: absolute;
    bottom: -12px;
    width: 100%;
    text-align: center;
}

.slideshow-container h1 {
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.SearchTitle {
    margin: 5vh 15vw;
    text-align: center;
}




/* ------------------------------------ MAP.PHP -------------------------------------------- */

#mapPage {
    background-image: url(images/map.png);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: -43vw;
}

#bikeInfo {
    position: absolute;
    top: 52vh;
    left: 24vw;
    padding: 5px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 40vw;
    text-align: center;
    display: none;
}

#bikeInfo img {
    width: 50%;
    padding: 3px;
}

#bikeInfo hr {
    margin: 1vh 3vw;
}

#clicker {
    position: absolute;
    z-index: 4;
    height: 50px;
    width: 50px;
    top: 44vh;
    left: 36vw;
}

.address {
    font-weight: 600;
    padding: 5px;
}

.distance {
    color: lightgrey;
    font-size: 14px;
}

#up-arrow {
    border-color: white transparent;
    border-style: solid;
    border-width: 0px 20px 20px 20px;
    height: 0px;
    width: 0px;
    position: absolute;
    z-index: 2;
    top: 50vh;
    left: 38vw;
    display: none;
}

#chooseBikeBtn {
    cursor: pointer;
}