@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');

.login-page {
  background-color: #ffbc00;
}

.page {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(to top left, #ffbc00 10%, #ff0c8e 90%);
}

a {
  text-decoration: none;
}

div .logo {
  text-align: center;
  display: flex;
  margin: 10%;
}

.logo {
  width: 70vw;
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

nav {
  height: 55px;
  opacity: 10%;
  top: 0%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-items: center;
  padding-bottom: 10%;
}


nav img {
  max-height: 50px;
}

nav h6 {
  margin-block-start: 6px;
  margin-block-end: 5px;
}

nav a {
  text-decoration: none;
  /*     color: #ffbc00; */
  color: white;
  font-weight: 700;
  margin-left: 10px;
  font-family: 'Work Sans', sans-serif;
}

h1 {
  padding-left: 10%;
  margin-right: 20vw;
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 40px;
  /*     color: #ffbc00; */
  color: white;
}

h2 {
  font-size: 1.2em;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  margin-left: 20px;
}

h5 {
  font-size: 1.2em;
  text-align: center;
}

h6,
label {
  margin-block-start: 10px;
  margin-block-end: 5px;
  font-size: 12px;
  color: #CECECE;
  text-transform: uppercase;
}

label {
  margin-bottom: 5px;
}

form {
  width: 80%;
  margin: 0 auto;
}

input,
textarea,
select {
  -webkit-box-sizing: border-box;
  /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box;
  /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}


input[type=submit] {
  border: none;
  height: 50px;
}

button,
input[type=submit] {
  display: grid;
  border-style: none;
  background: #ff5b4f;
  height: 50px;
  font-size: 20px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
  width: 90%;
  padding: 0;
  border-radius: 10px;
  margin: 20px auto 20px auto;
  cursor: pointer;
}


.name-tag {
  background-color: #e33529;
  color: white;
  padding: 10px;
  width: 10vw;
  margin-top: 5px;
  position: relative;
}

h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  text-align: center;
}

h6 {
  margin-block-start: 10px;
  margin-block-end: 5px;
  font-size: 12px;
  color: #cecece;
  text-transform: uppercase;
}

.container {
  width: 90vw;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.1);
}

form {
  width: 80%;
  margin: 0 auto;
}

input,
input:focus,
textarea,
textarea:focus,
select::placeholder {

  font-size: 0.7em;
  color: #c9c9c9;
  text-transform: uppercase;
  margin: 0;
  -webkit-box-sizing: border-box;
  /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box;
  /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  background-color: transparent;
  border-style: none;
  border-bottom: #c9c9c9 1px solid;
  height: 50px;
  margin-bottom: 10px;
  padding: 0 0 0 10px;
}



.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.line-separator {
  background-color: white;
  height: 25px;
  width: 1px;
  margin-left: 10px;
}

.candidate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.candidate-row {
  display: flex;
  justify-content: space-evenly;
}

.candidate img {
  height: auto;
  width: 170px;
}

.vote-btn {
  width: 80px;
  text-transform: uppercase;
  font-size: 15px;
  height: 40px;
}

.name-tag {
  background-color: #e33529;
  color: white;
  padding: 10px;
  width: 10vw;
  margin-top: 5px;
  position: relative;
}

.name-tag:after {
  content: " ";
  position: absolute;
  display: block;
  width: 13%;
  height: 100%;
  top: 0;
  right: -16px;
  z-index: 1;
  background: #e33529;
  transform-origin: bottom left;
  -ms-transform: skew(15deg, 0deg);
  -webkit-transform: skew(15deg, 0deg);
  transform: skew(15deg, 0deg);
}

.name-container {
  width: 100%;
}

.bike-img {
  height: auto;
  width: 200px;
}

#overlay-form,
#overlay-edit-form {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

select {
  border: 1px solid #dfdbdb;
  margin-top: 10px;
  height: 40px;
  padding: 0 0 0 10px;
  width: 100%;
}

.swal-button--cancel,
.swal-button--cancel:active {
  background: #d7d7d7 !important;
}

.form-card {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 30px;
}

.form-card form {
  width: 300px;
}

.close-btn {
  display: inline;
  float: right;
  padding: 0 0 10px 10px;
}

.bike-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5vw;
  grid-row-gap: 5vw;
  margin: 0 5vw 5vw 5vw;
}

.ad-dashboard {
  background-color: #f1f1f1;
}

.bike-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px;
  -webkit-box-shadow: 0px 2px 19px -7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 19px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 19px -7px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.delete-bike {
  background: #ff0c8e !important;
  width: auto;
  padding: 8px 11px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: normal;
  margin: auto;
  height: auto;
  margin-left: 10px;
}

.edit-bike {
  background: #d3e3e3;
  width: auto;
  padding: 8px 11px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: normal;
  margin: auto;
  height: auto;
  color: #676e6e;
}

.bike-buttons {
  display: flex;
  margin-top: 10px;
}

.name-container {
  display: flex;
  justify-content: center;
  margin-left: -25px;
}

.name-tag {
  width: 144px;
}

.confirmation-map {
  width: 100vw;
}

.confirmation-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-align: center;
}

.confirmation-section>div {
  padding: 1em;
  width: 100%;
}

.confirmation-section img {
  width: 100%;
  max-width: 70px;
}

.confirmation-price>h3 {
  background-color: dark grey;
}

.confirmation>.logo {
  max-width: 100px;
}

.search-page>.logo {
  width: 100px;
}

.vote-results {
  margin-top: 30px;
}

.candidate-row {
  flex-direction: column;
}

.name-container {
  display: flex;
  justify-content: center;
  margin-left: -25px;
}

.name-tag {
  width: 144px;
}

/* scan code */
#chooseSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.choose>img {
  max-width: 70px;
}

.enabled-camera {
  text-align: center;
}

.enabled-camera>img {
  max-width: 70vw;
}

/* ride start */
.main-container {
  text-align: center;
  margin-top: 15vh;
}

.ride-start {
  max-width: 300px;
}

/* Payment */
.expiry-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

}


/* checkbox */
input[type="checkbox"] {
  background-color: transparent !important;
}

/* login signup */
.form-link {
  text-decoration: none;
  text-align: center;
  display: grid;
  color: #c9c9c9;
}

.white-container {
  background-color: white;
  border-radius: 30px 30px 0% 0%;
  padding-top: 10%;
  bottom: 0%;
  height: 80vh;
}

#qrCode p {
  color: #4c4c4c;
  text-align: center;
  padding: 0% 20%;
}

#qrCode h5,
#plateNumber h5 {
  color: #ff5b4f;
}

#cameraBg {
  background-image: url(../images/camera-bg.png);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* start-ride */
#stopwatch {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin: 20%;
  text-align: center;
}